<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExtensibilityProject2.Properties.Settings.PRIDEMOConnectionString"
            connectionString="Data Source=DEV-ANDRE;Initial Catalog=PRIDEMO;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>